*.hi
*.o
/dist
/install-sh
/missing
/configure
/config.log
/config.status
/aclocal.m4
/autom4te.cache
Makefile
Makefile.in
*.eps
/doc/manual/*.teak
/doc/manual/*.cps
/doc/manual/*.ceps
/doc/manual/*.cops
/doc/manual/*.lout.ld
/doc/manual/optim.lout
/doc/manual/log
/doc/manual/oldlog
/doc/manual/lout.li
*.pdf
*.ps
